{% if vacancies %}
{% for vacancy in vacancies %}
<a href="{% url 'vacancy_detail' vacancy.pk %}" class="vacancy_card_link">
    <div class="card mb-3">
        <div class="card-body index_employee_card">
            <h4 class="card-title">{{ vacancy.title }}</h4>
            <h5 class="card-text">{{ vacancy.salary }} KZT</h5>
            <p class="card-text m-0">{{ vacancy.owner.username.capitalize }}</p>
            <p class="card-text m-0">{{ vacancy.created_at }}</p>
        </div>
    </div>
</a>
{% endfor %}
{% else %}
<p>Вакансии не добавлены</p>
{% endif %}
