<div class="row mt-3 mb-3">
    <h2 class="text-center">Ваши вакансии</h2>
</div>
<a href="{% url 'vacancy_create' %}">Создать вакансию</a>
{% if user.vacancies.all %}
{% for vacancy in user.vacancies.all %}
<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ vacancy.title }}</h5>
        <p class="card-text">{{ vacancy.updated_at }}</p>
        <a href="#" class="card-link">Обновить</a>
        <a href="{% url 'vacancy_update' vacancy.pk %}" class="card-link">Редактировать</a>
    </div>
</div>
{% endfor %}
{% else %}
<p>Вакансии не добавлены</p>
{% endif %}
